/* styles page content */

.banner,.card{
  display: flex;
}
.banner-text{
  width: 40%;
  margin: 2.5% 8% 0;
}
.banner-text h1,.banner-text b{
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 40px;
}
.banner-text b{
  font-weight: 700;
}
.banner-text p b{
  font-size: 1rem;
  line-height: normal;
}
.hr h1{
  font-size: 2.8rem;
  font-weight: 700;
  color: #FFC20E;
  margin: 3% 0;
}
.hr hr{
  display: inline-block;
  border: 3px solid #3F3F3F;
  width: 95%;
}
.banner-img{
  width: 60%;
}
.banner-img img{
  display: block;
  width: 100%;
}
.banner-02{
  background: url(../img/desktop/foto-08-2.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90%;
  height: 350px;
  margin-bottom: 5%;
}
.banner-02 p {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  margin: 0 15% 0 40%;
  padding-top: 10%;
  line-height: 35px;
  text-align: center;
}
.text p {
  margin: 5% 20%;
}
.card {
  flex-direction: column;
}
.card-01,.card-02 {
  display: flex;
  justify-content: space-around;
}
.card-01{
  margin: 0 5% 0;
}
.card-01 div{
  width: 25%;
  margin: 0 1%;
}
.card-02{
  margin: 5% 15%;
}
.card-02 div{
  width: 30%;
  margin: 0 1%;
}
.card-01 img,.card-02 img {
  display: block;
  margin: auto;
  width: 70px;
  height: auto;
}
.card-01 p,.card-02 p {
  text-align: center;
}
.banner-img img.none{
  display: none;
}




/* Responsive */
@media (min-width: 1400px){
  .banner-text{
    margin: 5% 8% 0;
  }
  .hr h1{
    font-size: 3rem;
  }
  .banner-02 p {
    font-size: 2rem;
    margin: 0 15% 0 40%;
    padding-top: 10%;
    line-height: 35px;
  }
}

/* MacBook Pro */
@media (max-width: 1280px){
  .banner-text{
    margin: 2% 8% 0;
  }
  .banner-text h1,.banner-text b{
    font-size: 2rem;
  }
  .hr h1{
    font-size: 2.6rem;
  }
  .banner-02{
    width: 80%;
  }
  .banner-02 p{
    margin: 0 10% 0 50%;
  }
}

/* Tablet */
@media (max-width: 1020px) {
  
}

/* Mobile */
@media (max-width: 480px) {
  .banner-img img.ocult{
    display: none;
  }
  .banner-img img.none{
    display: block;
  }
  .banner{
    flex-direction: column-reverse;
  }
  .banner-text{
    width: auto ;
    margin: 5% 5% 0;
  }
  .banner-img{
    width: auto ;
    margin: 0;
    margin-left: 15%;
  }
  .banner-text h1, .banner-text b{
    font-size: 1.4rem;
    line-height: normal;
  }
  .banner-text h1{
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .hr h1{
    font-size: 1.8rem;
    margin-top: 0;
  }
  .hr hr{
    border: 1px solid #3F3F3F;
  }
  .text p{
    margin: 5% 5%;
  }
  .card{
    margin-top: 15%;
  }
  .card-01,.card-02 {
    flex-direction: column;
    margin: 0 5%;
  }
  .card-02{
    margin-top: 5%;
  }
  .card-01 div,.card-02 div{
    width: auto;
  }
  .banner-02{
    background: url(../img/mobile/foto-08-1.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    height: 125px;
    margin-bottom: 5%;
  }
  .banner-02 p{
    font-size: 0.8rem;
    line-height: 10px;
    margin: 0 5% 0 40%;
  }
  .card-02{
    margin-bottom: 5%;
  }
}