/* styles page content */
.banner,.duo-gray,.duo{
  display: flex;
  margin: 5% 0;
  padding: 0 8%;
}
.banner{
  margin-top: 0;
}
.banner-img,.banner-text,.gray-text,.gray-img,.duo-img,.duo-text{
  width: 50%;
}
.banner-img img,.gray-img img,.duo-img img,.store img{
  display: block;
  margin: auto;
  width: 100%;
}
.banner-img, .duo-img {
  margin-right: 2.5%;
}
.gray-text p, span.text {
  line-height: 27px;
}
.gray-text {
  width: 40%;
  margin-right: 10%;
}
.gray-img{
  margin-left: 5%;
}
.banner-text{
  background: #F5F5F5;
  border-radius: 0 0 0 40px;
  padding: 2% 5%;
}
.li li{
  font-size: 1.5rem;
  color: #2EF5F7;
  margin-bottom: 5%;
}
span.text{
  font-size: 16px;
  color: #3F3F3F;
}
.duo-gray {
  background: #F5F5F5;
}
.duo-text p,.duo-text b {
  line-height: 27px;
}
.duo-text p {
  margin-top: 0;
}
.store {
  display: flex;
  width: 50%;
  margin-top: 5%;
}
.store a {
  width: 45%;
  height: auto;
  margin-right: 10%;
}
.banner-img img.none{
  display: none;
}
.titles{
  position: absolute;
  top: 15%;
  width: 332px;
  margin-left: 3%;
}
.titles h1{
  font-size: 3.5rem;
  font-weight: 700;
  color: #2EF5F7;
  margin-bottom: 2%;
}
.hr h1,.hr h1 b{
  font-size: 1.6rem;
  color: #fff;
  line-height: 25px;
  margin-bottom: 2%;
}
.hr h1{
  font-weight: 300;
}
.hr h1 b{
  font-weight: 700;
}
.hr hr{
  display: inline-block;
  border: 2px solid #2EF5F7;
  width: 100%;
}






/* Responsive */
@media (min-width: 1400px){

}
@media (max-width: 1280px){
  .banner-text{
    padding: 0 5% 2%;
  }
  .gray-text p, span.text {
    line-height: normal;
  }
  
}

/* Tablet */
@media (max-width: 1020px) {
  .banner, .duo-gray{
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .duo{
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }
  .banner-img, .banner-text, .gray-text, .gray-img, .duo-img, .duo-text{
    width: auto;
    margin: 0;
  }
  .titles{
    top: 10%;
    margin-left: 5%;
  }
  .banner-img img.ocult{
    display: none;
  }
  .banner-img img.none{
    display: block;
    margin: auto;
  }
  .gray-img img{
    display: none;
  }
  .duo-text p, .duo-text b{
    line-height: normal;
  }
  .duo-text b.center{
    text-align: center;
  }
  .duo-text{
    margin-top: 5%;
  }
  .banner-text{
    border-radius: 0;
  }
  .store{
    margin-top: 70%;
    margin-bottom: -70%;
  }
  .duo-text,.gray-text, span.text{
    margin: 0 5%;
  }
  .duo-text{
    margin-top: 5%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .titles{
    width: 207px;
  }
  .titles h1{
    font-size: 1.5rem;
  }
  .hr h1, .hr h1 b{
    font-size: 1rem;
    margin: 0;
    line-height: 18px;
  }
  .duo-text,.gray-text, span.text{
    margin: 0 5%;
  }
  .duo-text{
    margin-top: 5%;
  }
}
