/* styles page content */
.banner,.duo-01,.duo-02,.card{
  display: flex;
  margin-bottom: 5%;
}
.banner-text,.banner-img,.duo-01-img,.duo-01-text,.duo-02-img,.duo-02-text{
  width: 50%;
}
.banner-img img,.duo-01-img img,.duo-02-img img,.card img{
  display: block;
  margin: auto;
  width: 100%;
}
.banner-text{
  width: 40%;
  margin: 0 3% 0 4%;
}
.banner-img{
  width: 60%;
}
.blue{
  background: linear-gradient(180deg, #00a5db 0%, #016ab5 60%);
  border-radius: 0 0 0 40px;
  padding: 5% 10% 8% 8%;
}
.blue h1,.blue p,.blue p a,.hr h1,.hr hr{
  color: #fff;
}
.blue .h1-01{
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 8%;
}
.blue h1:nth-child(2){
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 0;
}
h1.h1{
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 1%;
}
.hr hr{
  display: inline-block;
  border: 2px solid #fff;
  width: 70%;
}
.blue p{
  font-weight: 400;
}
p.text{
  margin: 5% 8%;
}

.duo-01{
  margin-left: 8%;
  margin-right: 13%;
}
.duo-01-text{
  margin-left: 8%;
}
.duo-01-text p{
  margin-top: 0;
}
.card {
  align-items: center;
}
.card img{
  width: 15%;
  margin-right: 5%;
}
.card p {
  margin: 0;
}

.duo-02-text p{
  margin: 0 10% 5% 10%;
}
.duo-02-text{
  width: 55%;
}
.duo-02-img{
  width: 45%;
}
.duo-02-blue{
  background: linear-gradient(180deg, #00a5db 0%, #016ab5 60%);
  border-radius: 0 0 40px 0;
  padding: 5% 0;
  margin-right: 10%;
}
.duo-02-blue p{
  color: #fff;
}
.b{
  margin: 5% 10% 0 8%;
}
.ul li{
  line-height: 40px;
  margin-right: 5%;
}
.text-ocult,.b.text-none,.duo-02-img img.ocult{
  display: none;
}




/* Responsive */
@media (min-width: 1400px){
  
}

/* Tablet */
@media (max-width: 1020px) {
  .banner-text,.banner-img{
    width: 50%;
  }
  .banner-text{
    margin: 0;
    margin-right: 4%;
  }
  .blue p,p.text,.duo-01-img img,.b,.duo-02-img img.none{
    display: none;
  }
  .text-ocult,.b.text-none,.duo-02-img img.ocult {
    display: block;
  }
  .duo-01,.duo-02{
    flex-direction: column;
    margin: 0 10% 5%;
  }
  .duo-02-img{
    flex-direction: column;
  }
  .duo-01-img, .duo-01-text, .duo-02-img, .duo-02-text{
    width: auto;
  }
  .duo-01-text,.duo-02-text p{
    margin: 0;
  }
  .duo-02-blue{
    margin-top: 5%;
    padding: 5% 10%;
  }
  .b.text-none ul {
    padding: 5%;
  }
  .ul li {
    line-height: 18px;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  img.ocult {
    margin-top: 5%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .blue{
    border-radius: 0 0 0 20px;
  }
  .blue .h1-01{
    font-size: 2rem;
  }
  .blue h1:nth-child(2),h1.h1{
    font-size: 1rem;
    line-height: 16px;
  }
  .hr hr {
    border: 1px solid #fff;
    width: 80%;
  }
  .duo-01{
    margin: 0 5% 5%;
  }
  .duo-02{
    margin: 0;
    margin-bottom: 5%;
  }
  .duo-02-text p {
    margin: 0 5%;
  }
  .duo-02-blue{
    margin-top: 5%;
    padding: 6% 1% 6% 0;
    border-radius: 0 0 20px 0;
  }
  img.ocult {
    margin-top: 10%;
  }
}
