/* styles page content */

.banner{
  background-image: url(../img/global/banner-01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-top: 5%;
}
.banner h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 0;
  color: #3F3F3F;
}
.banner h1 span{
  font-size: 2.5rem;
  font-weight: bold;
  color: #3F3F3F;
}
.rose h1 {
  color: #ff003d;
  font-size: 5rem;
  font-weight: bold;
}
.rose hr{
  display: inline-block;
  border: 3px solid #707070;
  width: 37%;
}
.div-rose{
  width: 50%;
  background: #ff003d;
  color: #fff;
  padding: 2%;
  margin: -5% 25% 0;
  border-radius: 0 0 0 40px;
}
.div-rose p{
  color: #fff;
}
.div01{
  display: flex;
  margin: 5% 7.5%;
}
.div02{
  display: flex;
  margin: 0;
  padding: 5% 7.5%;
  background: #FAFAFA;
}
.div01-duo01,.div01-duo02{
  width: 50%;
  margin: 2.5%;
}
.div01-duo01 p{
  line-height : 22px;
  margin: 0;
}
.div01-duo02 img{
  width: 100%;
}
.div02-duo02 img{
  width: 70%;
  display:block;
  margin:auto;
}
.none{
  display: none;
}



/* Responsive */
@media (min-width: 1400px) {
  .rose hr {
    width: 35%;
  }
  .div01-duo01 p {
    line-height: 25px;
  }
}
.div02-duo02 img.none{
  display: none;
}


/* Tablet */
@media (max-width: 1024px) {
  .banner{
    height: 275px;
  }
  .ocult,.div02-duo02 img.ocult{
    display: none;
  }
  .div02-duo02 img.none{
    display: block;
    margin: 5% 5% 5% 0;
    width: 100%;
  }
  .div01,.div02{
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .div01-duo01, .div01-duo02,.div02-duo02{
    width: auto;
    margin: 0 2.5%;
  }
  .div01-duo01.margin{
    margin-top: -20%;
    background: #fff;
    border-radius: 40px 0 0 0;
    padding: 2.5%;
  }
  .div02-duo02{
    margin-left: 0;
  }
  .div-rose{
    width: 75%;
    margin: -10% 12% 0;
    padding: 0;
  }
  .div-rose p{
    padding: 5%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .block{
    display: block;
  }
  .banner{
    height: 120px;
  }
  .banner h1,.banner h1 span{
    font-size: 1.5rem;
    margin-bottom: 2%;
  }
  .rose{
    padding-left: 10%;
  }
  .rose h1{
    font-size: 2rem;
    margin-bottom: 2%;
  }
  .rose hr {
    border: 1px solid #707070;
    width: 55%;
  }
  .div-rose{
    width: 95%;
    margin: -10% 2% 0;
    padding: 0;
  }
  .div-rose p{
    padding: 5%;
  }
  .div01,.div02{
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .div01-duo01{
    margin-top: 0;
  }
  .div01-duo01, .div01-duo02,.div02-duo02{
    width: auto;
    margin: 0;
  }
  .div01-duo01.margin{
    margin-top: -20%;
    margin-left: 2.5%;
    border-radius: 20px 0 0 0;
  }
  .div01-duo01, .div01-duo02{
    padding: 5% 5%;
  }
  .div02-duo02 img{
    width: 90%;
  }
}