/* styles page content */
.img-web{
  display: block;
  width: 100%;
}
.img-mobile{
  display: none;
}


/* Responsive */
@media (min-width: 1400px){
  
}

/* Tablet */
@media (max-width: 1020px) {
}

/* Mobile */
@media (max-width: 480px) {
 .img-web{
   display: none;
 }
  .img-mobile{
   display: block;
   width: 100%;
 }
}
